    <div data-role="footer" data-position="fixed" data-id="footernav" data-tap-toggle="false">
        <div data-role="navbar">
            <ul>
                <li><a href="/Home/StockQuery" data-ajax="false"  data-icon="plus">库存查询</a></li>
                <li><a href="/Home/ShoppingCart" data-ajax="false" data-icon="minus">购物车</a></li>
                <li><a href="/Home/OrderQuery" data-ajax="false" data-icon="delete">我的订单</a></li>
                <li><a href="/Home/VoucherQuery" data-ajax="false" data-icon="check">对账单</a></li>
                <li><a href="/Account/MemberView" data-ajax="false" data-icon="info">会员中心</a></li>
            </ul>
        </div>
    </div>