@model List<HRMTWeb.Models.ExpressCompanyInfo>
@{
    Layout = null;
}
<option value="">请选择</option>
@foreach (var item in Model)
{
    <option value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Name)</option>
}
